header.main-header {
  padding:4rem 1rem;
  background-color:var(--teal-light);
  background-size:101%;
  background-position:bottom center;
  background-repeat: no-repeat;
}
header.main-header h1,
header.main-header p {
  color:var(--teal-dark);
}

section {  
  padding-top:4rem;
}
section header {
  padding:0 1rem;
}