nav[role="navigation"] {
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow:row nowrap;
  padding:0.5rem 1rem;
  background-color:var(--teal-light);
}
nav[role="navigation"] img {
  margin-left:auto;
  max-width:40px;
  height:auto;
  border-radius:50%;
  border:1px solid white;
}