
@font-face {
    font-family:"Larsseit Medium Regular";
    src:url("Larsseit-Medium.woff2") format("woff2"),url("Larsseit-Medium.woff") format("woff"),url("Larsseit-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        