
@font-face {
    font-family:"Larsseit Regular";
    src:url("Larsseit.woff2") format("woff2"),url("Larsseit.woff") format("woff"),url("Larsseit.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        